.header{
    border:1px solid red;
    width:100%;
    height:50px;
}
.accessories{
    border:1px solid blue;
    width:100%;
    height:80px;
}
.image{
    width:100%;
    height:150px;
}
.electronivcs{
    border:1px solid green;
    width:100%;
    height:200px;
    margin-top:10%;
}